{% extends "base.html" %}

{% block page_content %}
  <div style="background-color: #00ffff; margin-top: 10px; display: block; padding: 5px;">
    <h3 style="margin: 0; font-size: 1.5em;">{{ question }}</h3>
    <span style="color: #888; font-size: 0.7em;">{{ datetime_of_publication }}</span>
    <span style="font-size: 0.7em;">| {{number_of_votes}} votes</span>
    {% if description %}
        <p>{{description}}</p>
    {% endif %}

    <form style="background-color: #00eeff; padding: 10px; display: grid; grid-auto-flow: row;"
        method="POST">
        {% csrf_token %}
        {% if allow_multi_choices %}
        {% for choice in choices %}
            <label>
                <input type="checkbox" value="{{choice.name}}" name="choices">
                {{choice.name}}
            </label>
        {% endfor %}
        {% else %}
        {% for choice in choices %}
            <label>
            <input type="radio" value="{{choice.name}}" name="choices">
            {{choice.name}}
            </label>
        {% endfor %}
        {% endif %}

        <input type="submit" style="width: min-content; justify-self: center;">
    </form>
  </div>
{% endblock %}