<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My blog</title>
</head>

<body>
  <nav style="display: flex; justify-content: space-around; padding: 10px; background-color: #00FF00;">
    <a href={% url 'posts:index' %}>Posts</a>
    <a href={% url 'polls:index' %}>Polls</a>
    <a href="#">Events</a>
  </nav>
  {% block page_content %}{% endblock %}
</body>

</html>